<div class="col-md-12" style="margin: auto;">
  <div style="color:red">{{errorMessage}}</div>
    <div class="panel panel-default">
      <div class="panel-body">
        <form *ngIf="formArr.controls" [formGroup]="assetForm">
          <section class="post-footer-comment-wrapper">
        
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Keywords</th>
                  <th scope="col">Unit of account</th>
                  <th scope="col">Members</th>
                  <th scope="col"><button (click)="show()">create new</button></th>
                </tr>
              </thead>
            
              <tbody formArrayName="Rows">
                  <tr *ngFor="let itemrow of formArr.controls; let i=index;"
                  [formGroupName]="i">
                    <input formControlName="id" type="hidden"/>
                    <td><label>{{formArr.value[i].name}}</label></td>
                    <td><label>{{formArr.value[i].description}}</label></td>
                    <td><label>{{formArr.value[i].keywords}}</label></td>
                    <td><label>{{formArr.value[i].unit_of_account}}</label></td>
                    <td><label>{{formArr.value[i].members}}</label></td>
                    <td><button (click)="join()">Join network</button></td>
                  </tr>
              </tbody>
            </table>
          </section>
        </form>
        <br />
      </div>
    </div>
  </div>

  <!-- Creates the bootstrap modal where the image will appear -->
  <div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Create a new Asset</h4>
      </div>
      <div class="modal-body">
          <form [formGroup]="newAssetForm" (ngSubmit)="createAsset()">
              <div class="form-group">
                  <label>Name</label>
                  <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && fa.name.errors }" />
                  <div *ngIf="submitted && fa.name.errors" class="invalid-feedback">
                      <div *ngIf="fa.name.errors.required">Name is required</div>
                      <div *ngIf="fa.name.errors.length">Name must be a least three characters</div>
                  </div>
              </div>
              <div class="form-group">
                  <label>Description</label>
                  <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && fa.description.errors }" />
                  <div *ngIf="submitted && fa.description.errors" class="invalid-feedback">
                      <div *ngIf="fa.description.errors.required">description is required</div>
                      <div *ngIf="fa.description.errors.minlength">Description must be at least 3 characters</div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Keywords</label>
                  <input type="text" formControlName="keywords" class="form-control" [ngClass]="{ 'is-invalid': submitted && fa.keywords.errors }" />
                  <div *ngIf="submitted && fa.keywords.errors" class="invalid-feedback">
                      <div *ngIf="fa.keywords.errors.required">keywords is required</div>
                      <div *ngIf="fa.keywords.errors.minlength">keywords must be at least 3 characters</div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Unit of Account</label>
                  <input type="text" formControlName="unit_of_account" class="form-control" [ngClass]="{ 'is-invalid': submitted && fa.unit_of_account.errors }" />
                  <div *ngIf="submitted && fa.unit_of_account.errors" class="invalid-feedback">
                      <div *ngIf="fa.unit_of_account.errors.required">unit of account is required</div>
                      <div *ngIf="fa.unit_of_account.errors.minlength">unit of account must be at least 3 characters</div>
                  </div>
                </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal" (click) = "hide()">Close</button>
      
      </div>
    </div>
  </div>
  </div>
