dna/test/node_modules/
dna/target/
dna/.cargo/
dna/dist
dna/zomes/transactor/code/target
dna/zomes/profiles/code/target
dna/zomes/cloned-dnas-tracker/code/target
dna/player1/dna
dna/player1/storage
dna/player1/conductor-config.toml
dna/player2/dna
dna/player2/storage
dna/player2/conductor-config.toml
.DS_Store
/ui_old
mutualize.code-workspace
