 <div class="col-md-12" style="margin: auto;">
  <div style="color:red">{{errorMessage}}</div>
    <div class="panel panel-default">
      <div class="panel-body">
        <section class="post-footer-comment-wrapper">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Debtor</th>
                <th scope="col">Creditor</th>
                <th scope="col">Amount</th>
                <th scope="col">time</th>
              </tr>
            </thead>
           
            <tbody>
                <tr *ngFor='let tran of (transactionlist | async)'>
                  <td>{{tran.id}}</td>
                  <td>{{tran.debtor.username}}</td>
                  <td>{{tran.creditor.username}}</td>
                  <td>{{tran.amount}}</td>
                  <td>{{tran.timestamp}}</td>
                </tr>
            </tbody>
          </table>
          <br />
        </section>
      </div>
    </div>
  </div>
