 <div class="col-md-9" style="margin: auto;">
  <div style="color:red">{{errorMessage}}</div>
    <div class="panel panel-default">
      <div class="panel-body">
        <section class="post-footer-comment-wrapper">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Debtor</th>
                <th scope="col">Creditor</th>
                <th scope="col">Amount</th>
                <th scope="col">time</th>
              </tr>
            </thead>
           
            <tbody>
                <tr *ngFor='let tran of (transactionlist | async)'>
                  <th scope="row"><a routerLink="/profile/{{ tran.id }}" routerLinkActive="active">
                    <img
                      class="photo-profile"
                      src="../assets/img/avatar_placeholder.jpg"
                      width="40"
                      height="40"
                      alt="..."
                    />
                  </a></th>
                  <td>{{tran.debitor}}</td>
                  <td>{{tran.amount}}</td>
                  <td>01/01/2020</td>
                </tr>
            </tbody>
          </table>
          <br />
        </section>
      </div>
    </div>
  </div>
