 <div style="margin: auto;">
  <div style="color:red">{{errorMessage}}</div>
    <div class="panel panel-default">
      <div class="panel-body">
        <section class="post-footer-comment-wrapper">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">T_ID</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th scope="col">state</th>
                <th scope="col">action</th>
              </tr>
            </thead>
           
            <tbody>
                <tr *ngFor='let offer of (pendingOffers | async)'>
                  <td class="small_label">{{offer.id}}</td>
                  <td class="small_label">{{offer.transaction.debtor.username}}</td>
                  <td class="small_label">{{offer.transaction.creditor.username}}</td>
                  <td>{{offer.transaction.amount}}</td>
                  <td>{{offer.transaction.timestamp}}</td>
                  <td>{{offer.state}}</td>
                  <td><button *ngIf="offer.state == 'Received'" (click)="verifyOffer(offer.id)">Accept offer</button>
                    <!--<button *ngIf="offer.state == 'Pending'" (click)="acceptOffer(offer.id)">accept offer</button>-->
                      <button *ngIf="offer.state != 'Completed' && offer.state != 'Canceled'" (click)="cancelOffer(offer.id)">cancel offer</button></td>
                </tr>
            </tbody>
          </table>
          <br />
        </section>
        <br />
      </div>
    </div>
  </div>
